<div id="wrapper">
  <mat-card fxLayout="column" class="mat-elevation-z8">
    <mat-card-title *ngIf="!resetEmailSent">
      Vaihda salasanasi
    </mat-card-title>
    <mat-card-title *ngIf="resetEmailSent">
      Onnistui
    </mat-card-title>
    <div *ngIf="!resetEmailSent">
      <mat-card-content>
        Unohditko salasanasi? Syötä sähköpostiosoitteesi ja lähetämme sinulle linkin, josta pääset vaihtamaan salasanasi.
      </mat-card-content>
      <mat-card-content>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="sendPasswordResetLink()">
            <mat-form-field>
              <input matInput id="email" name="email" placeholder="Sähköpostiosoite" autocomplete="email" formControlName="email" required>
              <mat-error *ngIf="resetPasswordForm.controls['email'].invalid">Virheellinen sähköpostiosoite</mat-error>
            </mat-form-field>
            <button [disabled]="resetPasswordForm.invalid" mat-raised-button id="resetPasswordButton" ngClass.lt-sm="buttonsLtSm" color="primary">Lähetä</button>
        </form>
      </mat-card-content>
    </div>
    <div *ngIf="resetEmailSent">
      <mat-card-content>
        Lähetimme ohjeet salasanan vaihtamiseksi osoitteeseen <strong>{{userEmail.email}}</strong>
      </mat-card-content>
      <mat-card-content>
        <a routerLink="/frontpage">Kirjaudu sisään</a>
      </mat-card-content>
    </div>
  </mat-card>
</div>