<div id="wrapper">
  <mat-card fxLayout="column">
    <mat-card-title>
      Vaihda salasanasi
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="sendPasswordResetLink(resetPasswordForm.value)">
          <mat-form-field formGroupName="email">
            <input matInput id="email" name="email" placeholder="Sähköpostiosoite" autocomplete="email" formControlName="email" required>
            <mat-error *ngIf="resetPasswordForm.controls['email'].invalid">Virheellinen sähköpostiosoite</mat-error>
          </mat-form-field>
          <button [disabled]="resetPasswordForm.invalid" mat-raised-button id="resetPasswordButton" ngClass.lt-sm="buttonsLtSm" color="primary">Lähetä</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>