<div class="wrapper">
  <mat-card *ngIf="isCreator" class="ride_card mat-elevation-z8" fxLayout="column" fxLayoutAlign="space around center">
    <mat-card-title>Tämä on sinun luoma kyyti.</mat-card-title>
  </mat-card>
  <mat-card class="ride_card mat-elevation-z8" fxLayout="column" fxLayoutAlign="space around center">
    <div fxLayout="row">
        <div fxLayout="column" fxFlex="50">
            <mat-card-title>
              Lähtöpaikka: {{ride?.startingplace}}
            </mat-card-title>
            <mat-card-title>
              Määränpää: {{ride?.destination}}
            </mat-card-title>
            <mat-card-content>
              Kyydin tarjoaja:
              <a routerLink="/user/{{ride?.customer_id}}">{{ride?.firstName}} {{ride?.lastName}}</a>
            </mat-card-content>
            <mat-card-content>
              Lähtöpäivä: {{ride?.time_of_departure | date:'mediumDate'}} aika: {{ride?.time_of_departure | date:'shortTime'}}
            </mat-card-content>
            <mat-card-content>
              Vapaita paikkoja: {{ride?.free_seats}}
            </mat-card-content>
            <mat-card-content>
              Saako kyydissä tupakoida: {{ride?.smoking ? 'Kyllä' : 'Ei'}}
            </mat-card-content>
            <mat-card-content>
              Voiko kyytiin ottaa lemmikkejä: {{ride?.pets ? 'Kyllä' : 'Ei'}}
            </mat-card-content>
            <mat-card-content>
              Kuski valmis poikkeamaan lähikuntiin: {{ride?.deviate ? 'Kyllä' : 'Ei'}}
              </mat-card-content>  
            <mat-card-content>
              Lisätiedot: {{ride?.additional_information}}
            </mat-card-content>
          </div>
          <div fxLayout="column" fxFlex="40">
            <img class="staticDirections" src="{{mapUrl}}" alt="directions map">
          </div>
    </div>

    <button *ngIf="!isCreator" mat-raised-button color="primary" (click)="openAlertDialog(alertTemplate)">Liity kyytiin</button>
    <button mat-raised-button (click)="goBack()">Takaisin</button>
  </mat-card>
  <ng-template #alertTemplate>
    <div *ngIf="!promiseRejected">
        <h1 mat-dialog-title>Lähetä pyyntö liittyä kyytiin?</h1>
        <div [formGroup]="messageForm" *ngIf="!promiseResolved && !confirmButtonClicked">
          <mat-form-field>
            <input matInput #message id="message" name="message" formControlName="message" placeholder="Valinnainen viesti kuskille">
            <mat-hint>{{message.value.length}} / 512</mat-hint>
          </mat-form-field>
        </div>
        <div class="spinner_icon" *ngIf="!promiseResolved && confirmButtonClicked">
          <i class="fas fa-spinner fa-pulse"></i>&nbsp;&nbsp;Käsitellään..
        </div>
        <div class="check_icon" *ngIf="promiseResolved && confirmButtonClicked">
          <i class="fas fa-check"></i>&nbsp;&nbsp;Liittymispyyntö lähetetty!</div>
        <mat-dialog-actions>
          <button *ngIf="!promiseResolved && !confirmButtonClicked" mat-raised-button color="primary" (click)="createRequest()">Kyllä</button>
          <button *ngIf="!promiseResolved && !confirmButtonClicked" mat-button type="button" (click)="dialogRef.close()">Peruuta</button>
          <button *ngIf="promiseResolved && confirmButtonClicked" mat-raised-button color="primary" (click)="dialogRef.close()">Sulje</button>
        </mat-dialog-actions>
    </div>
    <div *ngIf="promiseRejected">
      <h1 mat-dialog-title>
          <i class="fas fa-exclamation-triangle"></i>&nbsp;&nbsp; Jotain meni pieleen. Kokeile päivittää sivu uudestaan.
      </h1>
    </div>
  </ng-template>
</div>