.wrapper {
    max-width: 890px;
    margin: 10px auto;
}

.ride_card {
    margin-bottom: 10px;
}

.searchbox {
    height: 210px;
    margin-bottom: 20px;
}

.destination {
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    padding-bottom: 12px;
    border-color: #689F38;
}

.car {
    margin: 5px 20px 0px 0px;
    width: 10%;
    height: 10%;
}

.departure-time {
    margin-bottom: 20px;
}

.time {
    margin-left: 20px;
}

.details_holder {
    width: 65%;
}

.info_button {
    background-color: #689F38;
	color: white;
}