.wrapper {
  max-width: 900px;
  margin: 20px auto;
}
.header-image {
  background-image: url('../../../assets/images/android-chrome-192x192.png');
  background-size: cover;
}
.mat-card-fp {
  margin-bottom: 8px;
}
.fp-button {
  background-color: #689F38;
  color: white;
  margin-top: 8px;
}
.fb-button {
  margin-bottom: 10px;
  background-color: #3b5998;
  color: #fff;
}
.tw-button {
  margin-bottom: 10px;
  background-color: #00aced;
  color: #fff;
}
.mat-card-actions .mat-button, .mat-card-actions .mat-raised-button {
  margin-top: 8px;
  margin-bottom: 8px;
}