/*
xs	'screen and (max-width: 599px)'
sm	'screen and (min-width: 600px) and (max-width: 959px)'
md	'screen and (min-width: 960px) and (max-width: 1279px)'
lg	'screen and (min-width: 1280px) and (max-width: 1919px)'
xl	'screen and (min-width: 1920px) and (max-width: 5000px)'
lt-sm	'screen and (max-width: 599px)'
lt-md	'screen and (max-width: 959px)'
lt-lg	'screen and (max-width: 1279px)'
lt-xl	'screen and (max-width: 1919px)'
gt-xs	'screen and (min-width: 600px)'
gt-sm	'screen and (min-width: 960px)'
gt-md	'screen and (min-width: 1280px)'
gt-lg	'screen and (min-width: 1920px)'
*/

#wrapper {
  max-width: 700px;
  margin: 50px auto;
}

.loginFrom {
  max-width: 300px;
  margin: auto;
}
#loginButton {
  margin-bottom: 10px;
}
.regButtonsLtLg {
  width: 70%;
  height: 70px; 
}

.buttonsLtSm {
  width: 100%;
}

.loginbuttonsLtSm {
  width: 100%;
  margin-left: 1000px;
}

.buttonsGtXs {
  width: 100%;
}

.loginButtonGtLg {
  height: 36px;
  margin: auto;
  margin-left: 4px;
}

.forgotPasswordLinkGtXs {
  margin-left: 3px;
  margin-top: 10px;
}
.authbox_socialmedia_login {
  padding-top: 30px;
}
.authbox_socialmedia_loginGtSm {
  width: 100%;
}

.loginformLtSm {
  width: 90%;
  padding: 0 5px;
}

.loginformGtSm {
  width: 100%;
  padding: 0 5px;
}
.loginformContainer1GtSm {
width: 50%;
}
.loginformContainer2GtSm {
  width: 100%;
  padding-right: 20px;
}
.btn-fb {
  margin-bottom: 10px;
  background-color: #3b5998;
  color: #fff;
}

.btn-google {
  margin-bottom: 10px;
  background-color: #c23321;
  color: #fff;
}

#btn-local {
  color: #fff;
}

.big_loginButton {
  width: 40%;
  padding: 0 5px;
}