<div id="wrapper">
  <mat-card class="mat-elevation-z8">
    <div>
      <mat-card-content *ngIf="!showRegisterForm" fxLayout="column">
        <mat-card-title>Kirjaudu Sisään!</mat-card-title>
        <div fxLayout="column" fxLayout.gt-sm="row">
          <form [formGroup]="loginForm" (ngSubmit)="signInLocalUser(loginForm.value)">
            <div fxLayout.lt-md="column" ngClass.gt-sm="loginformContainer1GtSm">
              <div ngClass.gt-sm="lo  ginformContainer2GtSm">
                <mat-form-field ngClass.gt-sm="loginformGtSm" ngClass.lt-sm="loginformLtSm">
                  <input matInput id="email" name="email" placeholder="Sähköpostiosoite" autocomplete="email" formControlName="email" required>
                </mat-form-field>
                <mat-form-field ngClass.gt-sm="loginformGtSm" ngClass.lt-sm="loginformLtSm">
                  <input matInput id="password" name="password" type="password" placeholder="Salasana" formControlName="password" autocomplete="current-password"
                    required>
                </mat-form-field>
                <button mat-raised-button color="primary" id="loginButton" ngClass.lt-sm="buttonsLtSm" ngClass.gt-xs="loginButtonGtLg">Kirjaudu Sisään</button>
                <a ngClass.gt-xs="forgotPasswordLinkGtXs" routerLink="/forgot-password">
                  Unohditko salasanasi?
                </a>
              </div>
            </div>
          </form>
          <div ngClass.lt-md="authbox_socialmedia_login" ngClass.gt-sm="authbox_socialmedia_loginGtSm" fxLayout="column" fxLayoutAlign.gt-sm="space-around center">
            <button mat-raised-button class="btn-fb" (click)="signInWithFB()" ngClass.gt-sm="buttonsGtXs">
              <i class="fab fa-facebook fa-2x">&nbsp;&nbsp;</i>Tunnistaudu Facebook-tunnuksilla
            </button>
            <button mat-raised-button class="btn-google" (click)="signInWithGoogle()" ngClass.gt-sm="buttonsGtXs">
              <i class="fab fa-google fa-lg">&nbsp;&nbsp;</i>Tunnistaudu Google-tunnuksilla
            </button>
            <button id="btn-local" mat-raised-button color="primary" (click)="openRegisterForm()" ngClass.gt-sm="buttonsGtXs">
              Tai rekisteröidy sähköpostiosoitteella
            </button>
          </div>
        </div>
      </mat-card-content>
    </div>

    <mat-card-content *ngIf="showRegisterForm" fxLayout="column">
      <mat-card-title>Rekisteröidy!</mat-card-title>
      <!-- UUSI REAKTIIVINEN FORMI -->
      <form [formGroup]="registerForm" (ngSubmit)="registerLocal(registerForm.value)">
        <div fxLayout="column">
          <div fxLayout="row">
            <mat-form-field fxFlex=40>
              <input matInput name="firstName" placeholder="Etunimi" formControlName="firstName" autocomplete="given-name" required>
            </mat-form-field>
            <div fxLayout="column">
              <mat-error *ngIf="registerForm.controls['firstName'].hasError('required') && !registerForm.controls['firstName'].pristine">Etunimi on vaadittu</mat-error>
              <mat-error *ngIf="!registerForm.controls['firstName'].hasError('minLength') && !registerForm.controls['firstName'].pristine">Etunimesi on liian lyhyt </mat-error>
            </div>
          </div>

          <div fxLayout="row">
            <mat-form-field fxFlex=40>
              <input matInput name="lastName" placeholder="Sukunimi" formControlName="lastName" autocomplete="family-name" required>
            </mat-form-field>
            <div fxLayout="column">
              <mat-error *ngIf="registerForm.controls['lastName'].hasError('required') && !registerForm.controls['lastName'].pristine">Sukunimi on vaadittu</mat-error>
              <mat-error *ngIf="!registerForm.controls['lastName'].hasError('minLength') && !registerForm.controls['lastName'].pristine">Sukunimesi on liian lyhyt </mat-error>
            </div>
          </div>

          <div fxLayout="row">
            <mat-form-field fxFlex=40>
              <input matInput name="phoneNumber" placeholder="Puhelinnumero" formControlName="phoneNumber" autocomplete="tel-local" required>
            </mat-form-field>
            <div fxLayout="column">
              <mat-error *ngIf="registerForm.controls['phoneNumber'].hasError('required') && !registerForm.controls['phoneNumber'].pristine">Puhelinnumero vaaditaan</mat-error>
              <mat-error *ngIf="!registerForm.controls['phoneNumber'].hasError('minLength') && !registerForm.controls['phoneNumber'].pristine">Puhelinnumero on virheellinen</mat-error>
            </div>
          </div>
          <!--TUPLASÄPÖT -->
          <div fxLayout="row">
            <mat-form-field formGroupName="email" fxFlex=40>
              <input matInput placeholder="Sähköposti" name="confEmail" formControlName="confEmail" autocomplete="email" required>
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <mat-form-field formGroupName="email" fxFlex=40>
              <input matInput placeholder="Sähköposti uudestaan" name="confirmedEmail" formControlName="confirmedEmail" autocomplete="email"
                required>
            </mat-form-field>
            <mat-error *ngIf="registerForm.controls['email'].hasError('nomatch')">Sähköpostiosoitteet eivät täsmää.</mat-error>
          </div>

          <!-- SALASANAT TUPLANA -->
          <div fxLayout="row">
            <mat-form-field formGroupName="password" fxFlex=40>
              <input matInput name="pwd" type="password" placeholder="Salasana" formControlName="pwd" autocomplete="new-password" required>
            </mat-form-field>
            <mat-error *ngIf="registerForm.controls['password'].invalid && !registerForm.controls['password'].pristine">Salasanassa tulee olla vähintään kahdeksan (8) merkkiä.</mat-error>
          </div>
          <div fxLayout="row">
            <mat-form-field formGroupName="password" fxFlex=40>
              <input matInput name="confirmPwd" type="password" placeholder="Salasana uudestaan" formControlName="confirmPwd" autocomplete="new-password"
                required>
            </mat-form-field>
          </div>
          <mat-error *ngIf="registerForm.controls['password'].hasError('nomatch')">Salasanat eivät täsmää.</mat-error>

          <!--NAPPULAT -->
          <button [disabled]="registerForm.invalid" mat-raised-button id="registerButton" ngClass.lt-sm="buttonsLtSm" color="primary">Rekisteröidy</button>

        </div>
      </form>
      <button mat-raised-button id="registerButton" ngClass.lt-sm="buttonsLtSm" (click)="openRegisterForm()" ngClass.gt-sm="buttonsGtXs">
        Takaisin kirjautumiseen
      </button>
    </mat-card-content>
  </mat-card>
</div>