<div id="wrapper">
  <mat-card class="mat-elevation-z8">
    <mat-card-content *ngIf="!passwordChanged" fxLayout="column">
      <h2 class="mat-h2">Vaihda salasana</h2>
      <p>Syötä uusi salasanasi. Salasanan tulee olla vähintään kahdeksan merkkiä pitkä.</p>
      <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm.value)">
        <div fxLayout="row">
          <mat-form-field formGroupName="password" fxFlex=40>
            <input matInput name="pwd" type="password" placeholder="Salasana" formControlName="pwd" autocomplete="new-password" required>
          </mat-form-field>
          <mat-error *ngIf="changePasswordForm.controls['password'].invalid && !changePasswordForm.controls['password'].pristine">Salasanassa tulee olla vähintään kahdeksan (8) merkkiä.</mat-error>
        </div>
        <div fxLayout="row">
          <mat-form-field formGroupName="password" fxFlex=40>
            <input matInput name="confirmPwd" type="password" placeholder="Salasana uudestaan" formControlName="confirmPwd" autocomplete="new-password" required>
          </mat-form-field>
        </div>
        <mat-error *ngIf="changePasswordForm.controls['password'].hasError('nomatch')">Salasanat eivät täsmää.</mat-error>
        <button [disabled]="changePasswordForm.invalid" mat-raised-button id="changePasswordButton" ngClass.lt-sm="buttonsLtSm" color="primary">Lähetä</button>
      </form>
    </mat-card-content>
    <mat-card-content *ngIf="passwordChanged" fxLayout="column">
      <h2 class="mat-h2">Salasana vaihdettu onnistuneesti!</h2>
      <p>Voit nyt kirjautua uudella salasanallasi.</p>
      <button mat-raised-button ngClass.lt-sm="buttonsLtSm" color="primary"><a routerLink="/frontpage"></a>Kirjaudu sisään</button>
    </mat-card-content>
  </mat-card>
</div>