<link rel="manifest" href="../manifest.json">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<div class="wrapper">
    <mat-toolbar color="primary" class="sidenav_toolbar">

        <!-- fxHide fxShow temppuilu piilottaa ja näyttää conditionaalisesti spanit, 
        siirtää sivubaarileiskalla logon oikealle-->

        <img id="logo_toolbar" class="mat-ripple" (click)="toFrontPage()" src="../assets/images/android-chrome-192x192.png" alt="kyyti.in logo">
        <span class="toolbar_fillempty"></span>
        <!-- Työpöydän, >1280px leveille näytöille tarkoitettu navigoitipalkki -->
        <!-- piilottaa listan jos ruudun leveys alle 1279px -->
        <div fxHide.lt-lg>
            <mat-nav-list fxLayout="row">
                <a routerLink="/rides" routerLinkActive="router-link-active">
                    <mat-list-item>KYYDIT</mat-list-item>
                </a>
                <a routerLink="/ridecreate" routerLinkActive="router-link-active" *ngIf="localStorageToken === true">
                    <mat-list-item>LUO KYYTI</mat-list-item>
                </a>
                <a routerLink="/feedback" routerLinkActive="router-link-active">
                    <mat-list-item>PALAUTE</mat-list-item>
                </a>
                <a routerLink="/requests" *ngIf="localStorageToken === true" routerLinkActive="router-link-active">
                    <mat-list-item>PYYNNÖT</mat-list-item>
                </a>
                <a routerLink="/user" *ngIf="localStorageToken === true" routerLinkActive="router-link-active">
                    <mat-list-item>PROFIILI</mat-list-item>
                </a>
                <a routerLink="/faq" routerLinkActive="router-link-active">
                    <mat-list-item>INFO</mat-list-item>
                </a>
                <mat-list-item *ngIf="localStorageToken === false">
                    <a routerLink="/register">
                        KIRJAUDU SISÄÄN
                    </a>
                </mat-list-item>
                <mat-list-item *ngIf="localStorageToken === true">
                    <div (click)="signOut()">
                        KIRJAUDU ULOS
                        <i class="fa fa-sign-out-alt"></i>
                    </div>
                </mat-list-item>
            </mat-nav-list>
        </div>
        <button mat-button ngClass.gt-md="hidebutton" (click)="sidenav()">
            <mat-icon id="arrow">arrow_upward</mat-icon>
        </button>
    </mat-toolbar>
    <div class="mobile_toolbar" id="mob_bar" fxHide fxShow.lt-lg>
        <mat-nav-list class="toolbar" fxLayout="row">
            <a routerLink="/rides" routerLinkActive="router-link-active">
                <mat-list-item>KYYDIT</mat-list-item>
            </a>
            <a routerLink="/ridecreate" routerLinkActive="router-link-active" *ngIf="localStorageToken === true">
                <mat-list-item>LUO KYYTI</mat-list-item>
            </a>
            <a routerLink="/feedback" routerLinkActive="router-link-active">
                <mat-list-item>PALAUTE</mat-list-item>
            </a>
            <a routerLink="/requests" *ngIf="localStorageToken === true" routerLinkActive="router-link-active">
                <mat-list-item>PYYNNÖT</mat-list-item>
            </a>
            <a routerLink="/user" *ngIf="localStorageToken === true" routerLinkActive="router-link-active">
                <mat-list-item>PROFIILI</mat-list-item>
            </a>
            <a routerLink="/faq" routerLinkActive="router-link-active">
                <mat-list-item>INFO</mat-list-item>
            </a>

            <mat-list-item *ngIf="localStorageToken === false">
                <a routerLink="/register">
                    KIRJAUDU SISÄÄN
                </a>
            </mat-list-item>
            <mat-list-item *ngIf="localStorageToken === true">
                <div (click)="signOut()">
                    KIRJAUDU ULOS
                    <i class="fa fa-sign-out-alt"></i>
                </div>
            </mat-list-item>
        </mat-nav-list>
    </div>
</div>
<router-outlet></router-outlet>