.sidenav_toolbar .mat-list .mat-list-item,
.sidenav_toolbar .mat-nav-list .mat-list-item,
.sidenav_toolbar .mat-selection-list .mat-list-item {
    color: #fff;
}

.sidenav .mat-list .mat-list-item,
.sidenav .mat-nav-list .mat-list-item,
.sidenav .mat-selection-list .mat-list-item {
    color: #689F38;
}

#logo_toolbar {
    max-height: 95%;
}
.app_wrapper {
    display: flex;
    width: 100%;
    margin: auto;
}
.wrapper {
    margin: 0px;
    padding: 0px;
}
/* sidenav isoile leiskoille */

.sidenav_footer {
    display: flex;
    flex-direction: column-reverse;
    width: 250px;
    z-index: 5;
}

#sidenav_container {
    display: flex;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: rgb(245, 245, 245);
    z-index: 2;
}

.sidenav {
    border-left: 2px solid #689F38;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 250px;
    z-index: 10;
    height: 100%;
}

.sidenav_contentlist {
    margin-right: 500px;
    padding: 15px;
}

.sidenav_profilepic {
    width: 120px;
    height: 120px;
}

.sidenav_content {
    padding-left: 1%;
    z-index: 11;
}


/*sidenav mobiileille*/

.sidenav_mobile {
    width: 90%;
    margin-left: 4px;
    z-index: 11;
    display: flex;
    flex-direction: column;
}

.sidenav_footer_mobile {
    position: fixed;
    bottom: 5%;
    width: 100%;
    z-index: 6;
}

.hidebutton {
    display: none;
}

.toolbar_fillempty {
    flex: 1 1 auto;
}

#mainheading {
    color: #009688;
}

.alphaNotice {
    position: relative;
    word-wrap: break-word;
    white-space: pre-line;
    line-height: 16px;
}

.logoMobile {
    height: 0px;
    float: left;
}
#logo_mobile_img {
    height: 50px;
    position: relative; 
    top: 57px;
}