.sidenav_toolbar .mat-list .mat-list-item,
.sidenav_toolbar .mat-nav-list .mat-list-item,
.sidenav_toolbar .mat-selection-list .mat-list-item .mat-list-item-content{
    color: #fff;
}
.mobile_toolbar .mat-list .mat-list-item,
.mobile_toolbar .mat-nav-list .mat-list-item,
.mobile_toolbar .mat-selection-list .mat-list-item .mat-list-item-content{
    color: #fff;
    flex-wrap: wrap;
}

.sidenav .mat-list .mat-list-item,
.sidenav .mat-nav-list .mat-list-item,
.sidenav .mat-selection-list .mat-list-item .mat-toolbar{
    color: #689F38;
}
.mat-toolbar{
    background-color: #689F38;
    color: white;
}

#logo_toolbar {
    max-height: 95%;
}
#arrow {
    transition: all 0.2s ease-out
}
#logo_toolbar:hover {
    filter: drop-shadow(0px 0px 7px #222);
}
#logo_toolbar:active {
    filter: drop-shadow(0px 0px 15px #111) opacity(0.9);
}
.app_wrapper {
    display: flex;
    width: 100%;
    margin: auto;
}
.mobile_toolbar {
    background-color: #689F38;
}
.toolbar {
    flex-wrap: wrap;
}
.wrapper {
    margin: 0px;
    padding: 0px;
}

/* sidenav isoile leiskoille */

.hidebutton {
    display: none;
}

.toolbar_fillempty {
    flex: 1 1 auto;
}

#mainheading {
    color: #009688;
}

.alphaNotice {
    position: relative;
    word-wrap: break-word;
    white-space: pre-line;
    line-height: 16px;
}

.logoMobile {
    height: 0px;
    float: left;
}

#logo_mobile_img {
    height: 50px;
    position: relative;
    top: 57px;
}