<link rel="manifest" href="../manifest.json">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<div class="wrapper">
    <mat-toolbar color="primary" class="sidenav_toolbar">

        <!-- fxHide fxShow temppuilu piilottaa ja näyttää conditionaalisesti spanit, 
        siirtää sivubaarileiskalla logon oikealle-->

        <img id="logo_toolbar" src="../assets/images/kyytiin-icon-black_white.png" alt="kyyti.in logo">
        <span class="toolbar_fillempty"></span>
        <!-- Työpöydän, >1280px leveille näytöille tarkoitettu navigoitipalkki -->
        <!-- piilottaa listan jos ruudun leveys alle 1279px -->
        <div fxHide.lt-lg>
            <mat-nav-list fxLayout="row">
                <a routerLink="/rides" routerLinkActive="router-link-active">
                    <mat-list-item>KYYDIT</mat-list-item>
                </a>
                <a routerLink="/ridecreate" routerLinkActive="router-link-active" *ngIf="localStorageToken === true">
                    <mat-list-item>LUO KYYTI</mat-list-item>
                </a>
                <a routerLink="/feedback" routerLinkActive="router-link-active">
                    <mat-list-item>PALAUTE</mat-list-item>
                </a>
                <a routerLink="/faq" routerLinkActive="router-link-active">
                    <mat-list-item>INFO</mat-list-item>
                </a>
                <a routerLink="/requests" *ngIf="localStorageToken === true" routerLinkActive="router-link-active">
                    <mat-list-item>PYYNNÖT</mat-list-item>
                </a>
                <a routerLink="/user" *ngIf="localStorageToken === true" routerLinkActive="router-link-active">
                    <mat-list-item>PROFIILI</mat-list-item>
                </a>
                <mat-list-item *ngIf="localStorageToken === false">
                    <a routerLink="/frontpage">
                        Kirjaudu Sisään
                    </a>
                </mat-list-item>
                <mat-list-item *ngIf="localStorageToken === true">
                    <div (click)="signOut()">
                        Kirjaudu Ulos
                        <i class="fa fa-sign-out-alt"></i>
                    </div>
                </mat-list-item>
            </mat-nav-list>
        </div>
        <button mat-button ngClass.gt-md="hidebutton" (click)="sidenavOpen(sidenav)">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>
    <div class="wrapper">
        <mat-card>
            <mat-card-content>
                Hei! Tervetuloa Kyyti.in pre-alphaan. Sovellus ei välttämättä toimi vielä oikein, eivätkä kaikki toiminnot ole käytössä.
                Jos huomaat virheitä, laitathan niistä palautetta palautelinkin kautta. Laitathan palautetta myöskin jos
                kaikki toimii, mutta sinulla on parannusehdotuksia.
            </mat-card-content>
        </mat-card>
    </div>
    <!--mobiilisivupalkki-->
    <mat-sidenav-container id="sidenav_container" fxHide.gt-md>
        <mat-sidenav align="end" class="sidenav" ngClass.xs="sidenav_mobile" fxHide.gt-md #sidenav mode=side [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="80" [opened]="false">
            <mat-nav-list>
                <div *ngIf="localStorageToken === true">
                    <a routerLink="/user" routerLinkActive="router-link-active" (click)="sidenav.close()">
                        <mat-list-item>PROFIILI</mat-list-item>
                    </a>
                    <mat-divider></mat-divider>
                </div>
                <div>
                    <a routerLink="/rides" routerLinkActive="router-link-active" (click)="sidenav.close()">
                        <mat-list-item>KYYDIT</mat-list-item>
                    </a>
                    <mat-divider></mat-divider>
                </div>
                <div *ngIf="localStorageToken === true">
                    <a routerLink="/ridecreate" routerLinkActive="router-link-active" (click)="sidenav.close()">
                        <mat-list-item>LUO KYYTI</mat-list-item>
                    </a>
                    <mat-divider></mat-divider>
                </div>
                <div *ngIf="localStorageToken === true">
                    <a routerLink="/requests" *ngIf="localStorageToken === true" routerLinkActive="router-link-active">
                        <mat-list-item>PYYNNÖT</mat-list-item>
                    </a>
                    <mat-divider></mat-divider>
                </div>
                <div>
                    <a routerLink="/feedback" routerLinkActive="router-link-active" (click)="sidenav.close()">
                        <mat-list-item>PALAUTE</mat-list-item>
                    </a>
                    <mat-divider></mat-divider>
                </div>
                <div>
                    <a routerLink="/faq" routerLinkActive="router-link-active" (click)="sidenav.close()">
                        <mat-list-item>INFO</mat-list-item>
                    </a>
                    <mat-divider></mat-divider>
                </div>
                <mat-list-item *ngIf="localStorageToken === false" (click)="sidenav.close()">
                    <button mat-raised-button color="primary">
                        <a routerLink="/frontpage">
                            Kirjaudu Sisään
                        </a>
                    </button>
                </mat-list-item>
                <mat-list-item *ngIf="localStorageToken === true">
                    <button mat-raised-button color="primary" id="sidenav_signout" (click)="signOut()" (click)="sidenav.close()">
                        Kirjaudu ulos
                    </button>
                </mat-list-item>
            </mat-nav-list>
        </mat-sidenav>
    </mat-sidenav-container>
</div>

<router-outlet></router-outlet>