<div class="wrapper">

  <mat-card class="faq_card mat-elevation-z4">
    <mat-card-title>Käyttöehdot</mat-card-title>
    <mat-card-subtitle>Yleistä</mat-card-subtitle>
    <mat-card-content>
      Nämä käyttöehdot kosketavat Kyyti.in verkkosivun, sekä Kyyti.in applikaation (Edempänä palvelun) käyttäjiä. Käyttämällä palvelua
      käyttäjä hyväksyy nämä käyttöehdot ja sitoutuu toimimaan niiden mukaisesti. Mikäli käyttäjä ei noudata käyttöehtoja,
      palveluntarjoajalla on oikeus poistaa kaikki käyttäjää koskevat tiedot palvelusta. Palveluntarjoajalla on oikeus tehdä
      muutoksia ja lisäyksiä näihin käyttöehtoihin ilman erillistä ilmoitusta.
    </mat-card-content>
    <mat-card-subtitle>Rekiseröityminen ja käyttäjätunnus</mat-card-subtitle>
    <mat-card-content>
      Kullakin Palvelun käyttäjällä voi olla ainoastaan yksi käyttäjätili. Käyttäjän rekisteröityessä Palveluun hänen tulee antaa
      rekisteröitymislomakkeessa vaaditut yksilöintitiedot. Käyttäjä saa Palvelun käyttöä varten haltuunsa salasanan ja käyttäjätunnuksen,
      joiden avulla Käyttäjä voi kirjautua Palveluun. Palvelun käyttö on kielletty alle 18-vuotiailta.
    </mat-card-content>
    <mat-card-subtitle>Käyttäjän oikeudet ja velvollisuudet</mat-card-subtitle>
    <mat-card-content>
      Käyttäjän palveluun syöttämien tietojen tulee olla ajan- ja totuudenmukaisia ja hänen tulee noudattaa palvelussa hyviä tapoja,
      Suomen lakia ja muita voimassa olevia säännöksiä. Käyttäjä ei saa käyttää palvelua lain tai hyvien tapojen vastaisesti
      eikä kopioida, levittää, lähettää tai välittää palvelussa saatavilla olevaa aineistoa. Palvelun käyttäjä on itse vastuussa
      kaikesta materiaalista, jonka hän tallentaa Palveluun ja/tai saattaa Palvelua hyväksi käyttäen muiden saataville (mm.
      lataamalla materiaali Palveluun, käyttämällä erilaisia linkitysmenetelmiä sekä muilla mahdollisilla tavoilla). Palvelun
      tarjoaja ei aktiivisesti tarkasta käyttäjien Palveluun toimittamaa materiaalia, eikä siksi ota vastuuta materiaalin
      sisällöstä. Palvelun avulla ei saa välittää eikä Palvelun tarjoajan palvelimelle saa tallentaa materiaalia: - joka
      loukkaa ulkopuolisten (ns. kolmansien tahojen) tekijän- tai muita oikeuksia - jolla loukataan, halvennetaan, häiritään
      tai uhkaillaan jotakuta - joka haittaa palvelun toimivuutta - joka on muuten Suomessa voimassa olevan oikeuden tai
      hyvän tavan vastaista. Palvelua ei saa käyttää kaupallisissa tarkoituksissa.
    </mat-card-content>
    <mat-card-subtitle>Palveluntarjoajan oikeudet ja velvollisuudet</mat-card-subtitle>
    <mat-card-content>
      Palveluntarjoaja ei vastaa käyttäjien palveluun lähettämästä materiaalista. Palveluntarjoajalla on kuitenkin oikeus tarkastaa
      käyttäjien lähettämä materiaali ja säilyttää, esittää, muokata ja poistaa julkaistua materiaalia osin tai kokonaan
      oman harkintansa mukaan. Palvelun tarjoajalla on oikeus estää häiritseviä käyttäjiä pääsemästä palveluun. Käyttäjää
      yksilöiviä käyttäjätietoja ei anneta kolmansille osapuolille paitsi lain edellyttämissä tapauksissa.
    </mat-card-content>
    <mat-card-subtitle>Tietojen säilytys ja varmuuskopiointi</mat-card-subtitle>
    <mat-card-content>
      Palvelun käyttäjä voi tallentaa materiaalia Palvelun tarjoajan palvelimelle. Palvelun tarjoaja ei kuitenkaan takaa tallennettujen
      tietojen säilyvyyttä eikä vastaa tietojen muuttumisesta, katoamisesta, tuhoutumisesta tai poistamisesta mahdollisesti
      aiheutuvista vahingoista. Tietojen säilyttämiseksi Palvelun käyttäjä on velvollinen itse huolehtimaan palveluntarjoajan
      palvelimelle tallennettujen tietojen ja aineistojen varmuuskopioiden tallentamisesta itselleen.
    </mat-card-content>
    <mat-card-subtitle>Palvelun ylläpito ja päivitykset sekä toimintakatkokset</mat-card-subtitle>
    <mat-card-content>
      Palvelun tarjoaja ei anna takuita Palvelun toiminnasta tai ominaisuuksista. Palvelun tarjoaja pyrkii kehittämään Palvelua
      jatkuvasti ja tämän vuoksi Palveluun voidaan tehdä muutoksia. Palvelun käyttäjä ymmärtää ja hyväksyy, että Palvelun
      kehittäminen, muuttaminen ja lopettaminen osittain tai kokonaan ovat Palvelun tarjoajan yksinomaisessa päätäntävallassa.
      Palvelun tarjoaja ei vastaa vahingoista, jotka johtuvat teknisten vikojen, huoltotöiden, päivitysten, tietoliikenneverkon,
      Internet-verkon katkosten tai muiden mahdollisten seikkojen aiheuttamista Palvelun toimintakatkoksista.
    </mat-card-content>

    <mat-card-subtitle>Kyydin saaminen</mat-card-subtitle>
    <mat-card-content>
      Koska palvelu toimii käyttäjävetoisesti, emme voi taata että Asiakas saisi palvelua käyttäen itselleen kyydin. Palvelun tarjoaja
      ei ole myöskään korvausvelvollinen mistään kyydin aikana tapahtuneista vahingoista
    </mat-card-content>

    <mat-card-subtitle>Sovellettava laki
    </mat-card-subtitle>
    <mat-card-content>
      Tähän sopimukseen sovelletaan ja sitä tulkitaan Suomen lain mukaisesti. Ehdoista aiheutuvat erimielisyydet pyritään ensisijaisesti
      ratkaisemaan neuvotteluteitse.
    </mat-card-content>
  </mat-card>
  <mat-card class="faq_card mat-elevation-z4">
    <mat-card-title>Rekisteriseloste</mat-card-title>
    <mat-card-subtitle>Rekisteriseloste</mat-card-subtitle>
    <mat-card-content>
      Henkilötietolain (523/1999) 10 ß:n mukainen rekisteriseloste
    </mat-card-content>
    <mat-card-subtitle>Rekisterin ylläpitäjä</mat-card-subtitle>
    <mat-card-content>
      Insert jotain tähän
    </mat-card-content>
    <mat-card-subtitle>Rekisterin nimi</mat-card-subtitle>
    <mat-card-content>
      Kyyti.in palvelun käyttäjärekisteri
    </mat-card-content>
    <mat-card-subtitle>Tietojen käyttötarkoitus</mat-card-subtitle>
    <mat-card-content>
      Sivuston/palvelun toiminta perustuu rekisteröityneiden käyttäjien sinne rekisteröityessään laittamiin tietoihin, sekä muihin
      heidän laittamaansa materiaaleihin.
    </mat-card-content>
    <mat-card-subtitle>Rekisterin tietosisältö</mat-card-subtitle>
    <mat-card-content>
      Käyttäjärekisteri sisältää seuraavat tiedot
      <br>
      Pakolliset tiedot: 
      <ul>
        <li>Sähköpostitunnus. Rekisteröitymiseen, salasanan palauttamiseen. Käyttäjien keskinäiseen, ja palveluntarjoajan väliseen kommunikaatioon</li>
        <li>Etunimi, sukunimi. Käyttäjien väliseen kommunikaatioon. Parantaa palvelun luotettavuutta.</li>
        <li>Salasana. Salattuna</li>
      </ul>
      Vaihtoehtoiset tiedot:
      <ul>
        <li>Puhelinnumero. Käyttäjien väliseen kommunikaatioon</li>
        <li>Profiilikuva. Kuva tallennetaan automaattisesti, jos käyttäjä kirjautuu palveluun joko Google-, tai FaceBook tunnuksellaan.</li>
      </ul>
    </mat-card-content>
    <mat-card-subtitle>Tietojen luovutus</mat-card-subtitle>
    <mat-card-content>
      Tietoja ei luovuteta ulkopuoliselle taholle. Tietoja voidaan kuitenkin luovuttaa viranomaisille voimassa olevan lainsäädännön
      sallimissa ja velvoittavissa rajoissa.

    </mat-card-content>
    <mat-card-subtitle>Rekisterin suojaus</mat-card-subtitle>
    <mat-card-content>
      Kaikilla rekisteriä käsittelevillä henkilöillä on rekisterinpitäjän myöntämä henkilökohtainen käyttöoikeus. Henkilökohtaisen
      käyttäjätunnuksen ja salasanan perusteella pystytään todentamaan kaikki sisäänkirjautumiset. Käyttäjätiedot, sekä muu käyttäjän luoma sisältö, poistuvat
      rekisteristä heti, kun käyttäjä poistaa käyttäjätunnuksensa.
    </mat-card-content>
  </mat-card>

  <mat-card class="faq_card mat-elevation-z4">
    <h1>Usein kysytyt kysymykset</h1>
  </mat-card>

  <mat-card class="faq_card mat-elevation-z4" fxLayout="column" fxLayoutAlign="space around center">
    <mat-card-title>
      Eikös tämä ole vähän niinkuin Uber?
    </mat-card-title>
    <mat-card-content>
      No ei oikeastaan. Kyseessä on alusta, jossa yksityiset ihmiset voivat jakaa kyytikustannuksia keskenään. Me tarjoamme alustan,
      ja ihmiset hoitavat sisällön.
    </mat-card-content>
  </mat-card>
  <mat-card class="faq_card mat-elevation-z4" fxLayout="column" fxLayoutAlign="space around center">
    <mat-card-title>
      Miten tämä eroaa niistä kaikista Facebook ryhmistä tai muista palveluista?
    </mat-card-title>
    <mat-card-content>
      Kyyti.in on helppo käyttää, hakutoiminto on ylivertainen verrattuna Facebookkiin, ja kaikki ilmoitukset tulevat automaattisesti
      kaikilla relevanteilla tiedoilla. Ei enää turhaa viestittelyä ja yksityiskohtien kaivamista! Kyytin.in tekee tiedonhausta
      helppoa, ja kaiken muun lisäksi Kyyti.in toimii nopeasti ja parhaimmassa tapauksessa löydät itsellesi kimppakyydin
      kolmella klikkauksella.
    </mat-card-content>
  </mat-card>
  <mat-card class="faq_card mat-elevation-z4" fxLayout="column" fxLayoutAlign="space around center">
    <mat-card-title>
      Ketkä tätä sitten tekevät?
    </mat-card-title>
    <mat-card-content>
      Tällä hetkellä projektiryhmä koostuu kahdesta tietojenkäsittelyn koulutusohjelmaa opiskelevasta varsinaisesta jäsenestä.
      Teemme projektia Tikon Ticorporate tuotepolulla, ja työskentelemme sen parissa koko kevään sekä toivottavasti myös
      tulevaisuudessa. Markkinointia ja liiketoimintapuolta hoitaa kolmesta liiketalouden opiskelijasta koostuva ryhmä.
    </mat-card-content>
  </mat-card>
</div>