<div class="wrapper">
  <mat-card class="mat-elevation-z8 headerCard" fxLayout="column">
    <mat-card-title>Pyynnöt ja ilmoitukset</mat-card-title>
    <mat-card-content *ngIf="unreadRequestsCount <= 0">Ei uusia pyyntöjä.</mat-card-content>
    <mat-card-content *ngIf="unreadRequestsCount > 0">Sinulla on {{unreadRequestsCount}} uutta pyyntöä!</mat-card-content>
    <mat-card-content *ngIf="unreadNotificationsCount <= 0">Ei uusia ilmoituksia.</mat-card-content>
    <mat-card-content *ngIf="unreadNotificationsCount > 0">Sinulla on {{unreadNotificationsCount}} uutta ilmoitusta!</mat-card-content>
  </mat-card>
  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-between">
    <!-- PYYNNÖT -->
    <div fxLayout="column" fxFlex="49">
      <mat-card class="mat-elevation-z8" fxLayout="column">
        <mat-card-title class="mat-card-title-marginfix">Pyynnöt:</mat-card-title>
      </mat-card>
        <mat-card class="mat-elevation-z8 requestcard" fxLayout="column" *ngFor="let request of requests">
          <a routerLink="/request/{{request.request_id}}">
            <mat-card-content>
              Pyynnön lähettäjä: {{request.joiner_name}}
            </mat-card-content>
            <mat-card-content>
              Matka: {{request.startingplace}} - {{request.destination}}
            </mat-card-content>
            <mat-card-content>
              Viesti: {{request.additional_information}}
            </mat-card-content>
          </a>
          <!-- MAT-TABLE -->
        </mat-card>
    </div>
    <!-- PYYNNÖT PÄÄTTYY -->
    <!-- ILMOITUKSET -->
    <div fxLayout="column" fxFlex="49">
      <mat-card class="mat-elevation-z8" fxLayout="column">
        <mat-card-title class="mat-card-title-marginfix">Ilmoitukset:</mat-card-title>
      </mat-card>
      <mat-card *ngIf="unreadNotificationsCount>0">
        <mat-nav-list class="notification_list">
          <mat-list-item class="notification_item" *ngFor="let notification of notifications">
            <a matLine routerLink="/rides/{{notification.ride_id}}">
              <p matLine>
                <span *ngIf="notification.canJoin === true">
                  <i class="fas fa-ok fa-check-circle"></i>
                </span>
                <span *ngIf="notification.canJoin === false">
                  <i class="fas fa-notok fa-ban"></i>
                </span>
                <span> {{notification.notification_message}}</span>
              </p>
            </a>
          </mat-list-item>
        </mat-nav-list>
        <mat-card-footer></mat-card-footer>
      </mat-card>
    </div>
    <!-- ILMOITUKSET PÄÄTTYY -->
  </div>
</div>