.wrapper {
  max-width: 900px;
  margin: 50px auto;
}

.headerCard {
  margin-bottom: 10px;
}

.notification_button {
  
}

.fa-ok {
  color: #689F38;
}

.fa-notok {
  color: #f44336;
}

.requestcard a:hover {
  background-color: #F5F5F5;
}
.requestcard {
  margin-bottom: 8px;
}
.requestcard a:link {
  padding: 16px;
}
.notification_item {
  width: 100%;
  margin-bottom: 8px;
}
.notification_list {
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 0px;
}