.wrapper {
	max-width: 900px;
	margin: 50px auto;
}

.userheaderimg {
	width: 144px;
	height: 128px;
}

.profileInfo {
	margin-bottom: 10px;
}

#phoneNumber {
	max-width: 400px;
}

.updateDataBtn {
	position: relative;
	top: 20px;
}
.fa-vc {
	line-height:inherit!important;
	vertical-align: middle;
	position: relative;
	top: 15px;
  }

  .ride_card {
	margin-bottom: 8px;  
	}
	
	#changePicture {
		margin-top: 10px;
	}