<div class="wrapper" fxLayout="column">
  <mat-card class="mat-elevation-z8 profileInfo" fxLayout="row" fxLayoutAlign="space-between">
    <div fxLayout="column" fxLayoutGap="10px" fxLayout.lt-md="column" fxFlexAlign.lt-md="center">
      <!-- KAPEA LEISKA PROFIILIKUVA -->
      <div fxLayout="column" fxShow.xs fxHide.gt-xs>
        <img *ngIf="hasImageSet" class="userheaderimg" src="{{localUser.user.profile_image">
        <img *ngIf="!hasImageSet" class="userheaderimg" src="assets/images/profile_placeholder.png">
        <div class="btn-profile_image_picker">
          <input type="file" name="profile_image_picker" (change)="uploadImage($event)" fxHide class="form-control" accept=".jpg, .jpeg, .png" id="profile_image_picker">
          <label for="profile_image_picker" class="mat-raised-button mat-primary">Vaihda profiilikuva</label>
        </div>
      </div>
      <mat-card-title>
        Omat tiedot:
      </mat-card-title>
      <div fxLayout="column">
        <div>
          <mat-card-content>Nimi: {{localUser?.user.firstName}} {{localUser?.user.lastName}}</mat-card-content>
          <mat-card-content>Sähköposti: {{localUser?.user.email}}</mat-card-content>
          <mat-card-content>Puhelinnumero: {{localUser?.user.phoneNumber}}</mat-card-content>
          <form [formGroup]="customerEditForm" (ngSubmit)="patchUser(customerEditForm.value)">
            <div fxLayout="row">
              <mat-form-field>
                <input matInput id="phoneNumber" name="phoneNumber" [placeholder]="localUser.user.phoneNumber ? 'Muuta puhelinnumeroasi':'Aseta puhelinnumerosi'"
                  formControlName="phoneNumber" autocomplete="tel-local" required>
                <mat-error *ngIf="phoneNumber.hasError('pattern')">Puhelinnumero on virheellinen</mat-error>
                <mat-error *ngIf="phoneNumber.hasError('pattern')">8-10 merkkiä, pelkkiä numeroita.</mat-error>
              </mat-form-field>
              <div fxLayout="column">
                <div *ngIf="phoneNumber.valid && (phoneNumber.dirty || phoneNumber.touched)">
                  <i class="fas fa-check fa-vc"></i>
                </div>
              </div>
            </div>
            <div>
              <button class="updateDataBtn" [disabled]="customerEditForm.invalid" mat-raised-button color="primary">Päivitä tiedot</button>
            </div>
          </form>
        </div>
        <div>
          <mat-card-content class="profilepicture" fxLayoutAlign="end" fxHide.lt-sm>
          </mat-card-content>
        </div>
      </div>
    </div>
    <!-- LEVEÄ LEISKA PROFIILIKUVA -->
    <div fxLayout="column" fxHide fxShow.gt-xs>
      <img *ngIf="hasImageSet" class="userheaderimg" src="{{localUser.user.profile_image">
      <img *ngIf="!hasImageSet" class="userheaderimg" src="assets/images/profile_placeholder.png">
      <div class="btn-profile_image_picker">
          <input type="file" name="profile_image_picker" (change)="uploadImage($event)" fxHide class="form-control" id="profile_image_picker">
          <label for="profile_image_picker" class="mat-raised-button mat-primary">Vaihda profiilikuva</label>
      </div>
    </div>
  </mat-card>

  <!-- KYYDIT -->
  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-between">
    <div fxLayout="column" fxFlex="49">
      <mat-card class="mat-elevation-z8" fxLayout="column">
        <mat-card-title class="mat-card-title-marginfix">
          Luomasi kyydit:
        </mat-card-title>
      </mat-card>
      <div *ngFor="let ride of rides" fxLayout="column">
        <a routerLink="/user-rides/{{ride.ride_id}}">
          <mat-card class="ride_card" fxLayout="column" fxLayoutAlign="space around center">
            <div fxLayout="column">
              <mat-card-title fxFlex="50">
                Lähtöpaikka: {{ride.startingplace}}
              </mat-card-title>
              <mat-card-title fxFlex="50">
                Määränpää: {{ride.destination}}
              </mat-card-title>
            </div>
            <mat-card-content>
              Lähtöpäivä: {{ride.time_of_departure | date:'mediumDate'}} aika: {{ride.time_of_departure | date:'shortTime'}}
            </mat-card-content>
            <mat-card-content>
              Vapaita paikkoja: {{ride.free_seats}}
            </mat-card-content>
          </mat-card>
        </a>
      </div>
    </div>
    <div fxLayout="column" fxFlex="49">
      <mat-card class="mat-elevation-z8" fxLayout="column">
        <mat-card-title class="mat-card-title-marginfix">
          Liitytyt kyydit:
        </mat-card-title>
      </mat-card>
      <div *ngFor="let ride of joinedRides" fxLayout="column">
        <a routerLink="/rides/{{ride.ride_id}}">
          <mat-card class="ride_card" fxLayout="column" fxLayoutAlign="space around center">
            <div fxLayout="column">
              <mat-card-title fxFlex="50">
                Lähtöpaikka: {{ride.startingplace}}
              </mat-card-title>
              <mat-card-title fxFlex="50">
                Määränpää: {{ride.destination}}
              </mat-card-title>
            </div>
            <mat-card-content>
              Lähtöpäivä: {{ride.time_of_departure | date:'mediumDate'}} aika: {{ride.time_of_departure | date:'shortTime'}}
            </mat-card-content>
            <mat-card-content>
              Vapaita paikkoja: {{ride.free_seats}}
            </mat-card-content>
          </mat-card>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- TODO 
  <mat-card fxLayout.lt-md="column" fxFlexAlign.lt-md="center" fxLayoutAlign.lt-md="space-around center">
    <mat-card-title>
      Autosi
    </mat-card-title>
    <mat-card-content>TODO: Auton/autojen tähän</mat-card-content>
  </mat-card>
-->