.wrapper {
	max-width: 900px;
	margin: 50px auto;
}

.userheaderimg {
	width: 128px;
	height: 128px;
	margin-bottom: 10px;
}

.profileInfo {
	margin-bottom: 10px;
}

#phoneNumber {
	max-width: 400px;
}

.updateDataBtn {
	position: relative;
	top: 20px;
}
.fa-vc {
	line-height:inherit!important;
	vertical-align: middle;
	position: relative;
	top: 15px;
}

.ride_card {
	margin-bottom: 8px;  
}
	
.btn-profile_image_picker {
	max-width: 128px;
}

::ng-deep .mat-raised-button {
	padding-left: 8px;
	padding-right: 8px;
}

.btn-start_upload {
	margin-top: 20px;
}
