<div class="wrapper">
  <mat-card fxLayout="column" class="mat-elevation-z8">
    <mat-card-title>
      Hei PLACEHOLDER!
    </mat-card-title>
    <mat-card-content>
      PLACEHOLDER2 haluaisi liittyä matkallesi PLACEHOLDER3 - PLACEHOLDER4
    </mat-card-content>
    <mat-card-content>
      
    </mat-card-content>
    <mat-card-content>HUOM! Tätä toimintoa ei voi perua!</mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Hyväksy</button>
      <button mat-raised-button color="warn">Hylkää</button>
    </mat-card-actions>
  </mat-card>
</div>