<mat-card class="mat-card-fp">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Kyyti.in changelog!</mat-card-title>
    <mat-card-subtitle>Versio 0.44</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <h3 mat-subheader>Ominaisuus</h3>
      <mat-list-item>
        <i class="fas fa-code" mat-list-icon></i>
        <h4 mat-line>Sähköpostivarmistus</h4>
        <p mat-line class="changelogdetails">Sähköpostin varmistus korjattu, ja toiminnallisuus lisätty sivulle </p>
      </mat-list-item>
      <mat-list-item>
        <i class="fas fa-code" mat-list-icon></i>
        <h4 mat-line>Etusivun päivitys</h4>
        <p mat-line class="changelogdetails">Etusivulle lisätty tietoja, muutosloki sekä sosiaalisen median linkit</p>
      </mat-list-item> 
      <mat-list-item>
        <i class="fas fa-code" mat-list-icon></i>
        <h4 mat-line>"Käyttäjän kyyti" -komponentti</h4>
        <p mat-line class="changelogdetails">Lisätty komponentti jossa käyttäjä näkee hänen kyytiinsä liittyvät tiedot ja kyytiin liitetyt kyytiläiset</p>
      </mat-list-item>
      <mat-list-item>
        <i class="fas fa-code" mat-list-icon></i>
        <h4 mat-line>Kartta</h4>
        <p mat-line class="changelogdetails">Lisätty karttanäkymä kyytien oheen</p>
      </mat-list-item>
      <mat-list-item>
        <i class="fas fa-code" mat-list-icon></i>
        <h4 mat-line>Analytiikka</h4>
        <p mat-line class="changelogdetails">Lisätty scripti, jota käytämme sivuston liikenteen seuraamiseen.</p>
      </mat-list-item>

      <mat-divider></mat-divider>
      <h3 mat-subheader>Bugikorjaukset</h3>
      <mat-list-item>
          <i class="fas fa-wrench" mat-list-icon></i>
          <h4 mat-line>iOS ja Safari</h4>
          <p mat-line class="changelogdetails">Vaihdettu sivuvalikko ylävalikoksi. Lisäongelmissa muistathan ottaa yhteyttä. </p>
        </mat-list-item>
  
      <mat-list-item>
        <i class="fas fa-wrench" mat-list-icon></i>
        <h4 mat-line>Sähköpostin varmistaminen</h4>
        <p mat-line class="changelogdetails">Korjattu sähköpostin varmistaminen </p>
      </mat-list-item>
      <mat-list-item>
        <i class="fas fa-wrench" mat-list-icon></i>
        <h4 mat-line>Puhelinnumero</h4>
        <p mat-line class="changelogdetails">Korjattu puhelinnumeron näyttäminen, lisääminen ja vaihtaminen </p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Tiedetyt ongelmat</h3>
      <mat-list-item>
        <i class="fas fa-bug" mat-list-icon></i>
        <h4 mat-line>Jos tiedät ongelmasta,<a routerLink="/feedback">ilmoita siitä meille</a>
        </h4>
      </mat-list-item>

    </mat-list>
  </mat-card-content>
</mat-card>
<!-- TODO JSON taulukko josta paskat -->
<!---
    <mat-list>
  <h3 mat-subheader>Ominaisuus</h3>
  <mat-list-item *ngFor="let feature of features">
    <i class="fas fa-code" mat-list-icon></i>
    <h4 mat-line>{{feature.name}}</h4>
    <p mat-line> {{feature.description}} </p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <h3 mat-subheader>Bugikorjaukset</h3>
  <mat-list-item *ngFor="let bug of bugs">
    <i class="fas fa-wrench" mat-list-icon></i>
    <h4 mat-line>{{bug.name}}</h4>
    <p mat-line> {{bug.description}} </p>
  </mat-list-item>
</mat-list>
-->