<div class="wrapper">
    <mat-card class="mat-elevation-z8" fxLayout="row" fxLayoutAlign="space-between">
        <div fxLayout="column" fxLayoutGap="10px" fxLayout.lt-md="column" fxFlexAlign.lt-md="center">
            <mat-card-title>
                Käyttäjän tiedot:
            </mat-card-title>
            <div fxLayout="column">
                <div>
                    <mat-card-content>Nimi: {{localUser.user.firstName}} {{localUser.user.lastName}}</mat-card-content>
                    <mat-card-content>Sähköposti: {{localUser.user.email}}</mat-card-content>
                    <mat-card-content>Puhelinnumero: {{localUser.user.phoneNumber}}</mat-card-content>
                </div>
                <div>
                    <mat-card-content class="profilepicture" fxLayoutAlign="end" fxHide.lt-sm>
                    </mat-card-content>
                </div>
            </div>
        </div>
        <img *ngIf="localUser.user.social_photourl" fxHide.lt-sm class=userheaderimg src="{{localUser.user.social_photourl}}">
    </mat-card>
    <mat-card>
        Arvioi käyttäjä:
        <form [formGroup]="reviewForm" (ngSubmit)="sendReview(reviewForm.value)">
            <div class="stars">
                <star-rating-comp fxLayoutAlign="start center" [hoverEnabled]="true" [speed]="'immediately'" [size]="'large'" [starType]="'svg'" formControlName="stars"></star-rating-comp>
            </div>
            <mat-form-field>
                <input matInput #review_text id="review_text" name="review_text" formControlName="review_text"
                    placeholder="Lisätiedot">
                <mat-hint>{{review_text.value.length}} / 512</mat-hint>
            </mat-form-field>
            <div>
            <button [disabled]="reviewForm.invalid" mat-raised-button color="primary">Anna arvio!</button>
            </div>
        </form>
    </mat-card>
    <!-- TODO 
    <mat-card fxLayout.lt-md="column" fxFlexAlign.lt-md="center" fxLayoutAlign.lt-md="space-around center">
      <mat-card-title>
        Autosi
      </mat-card-title>
      <mat-card-content>TODO: Auton/autojen tähän</mat-card-content>
    </mat-card>
  -->