<div class="wrapper">
  <mat-card class="mat-elevation-z8">
    <mat-card-content>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSeeWKrlNZGBjV6FijOOe-WcEW1yq0NvJyruSuG1j1RaeHO8mw/viewform">Suora linkki palautekyselyyn</a>
    </mat-card-content>
  </mat-card>
  <mat-card class="feedbackwrapper mat-elevation-z8" fxHide.lt-md>
    <iframe class="feedback" src="https://docs.google.com/forms/d/e/1FAIpQLSeeWKrlNZGBjV6FijOOe-WcEW1yq0NvJyruSuG1j1RaeHO8mw/viewform?embedded=true">Ladataan...</iframe>
  </mat-card>
</div>